.popup__input {
  width: 100%;
  font-size: 14px;
  line-height: 1.2;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 8.5px;
  position: relative;
}

.popup__input:focus {
  outline: none;
  border: none;
}